// Customize the background color
body {
  background: linear-gradient(to bottom right, lightskyblue, whitesmoke);
}

// Customize the menubar color
.ui.menu {
  background: lightskyblue;
}

// Customize the home page icon colors
.icon-color {
  color: darken(lightsteelblue, 20%);
}
